.footer {
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.divider {
    padding-inline: 10vw;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.maintenance {
    padding: 0px;
}

.copyright {}