.nav {
    justify-content: space-around;
    height: 10vh;
    position: absolute;
    width: 100vw;
    text-align: center;
    opacity: .75;
    list-style: none;
    text-decoration: none;
    display: flex;
}