.typeSelector {
    ul {
        list-style-type: none;
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
    }

    button {
        border: solid 2.5px;
        border-radius: 25px;
        border-color: var(--accent-color);
        padding: 0.4rem 0.75rem;
        cursor: pointer;
        border-radius: 12.5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--accent-color);
        }
    }

    .active {
        background-color: var(--accent-color);
    }
}

.link {
    text-decoration: none;

    &:hover {

        .linkContent {
            color: var(--text-color);
        }
    }
}

.linkContainer {
    padding: 16px;
    margin: 32px;
    cursor: pointer;
    /* From https://css.glass */
    background: rgba(110, 43, 58, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(110, 43, 58, 0.6);
}
