.typeSelector {
    ul {
        list-style-type: none;
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
    }

    button {
        border: solid 2.5px;
        border-radius: 25px;
        border-color: var(--accent-color);
        padding: 0.4rem 0.75rem;
        cursor: pointer;
        border-radius: 12.5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--accent-color);
        }
    }

    .active {
        background-color: var(--accent-color);
    }
}
