* {
    text-align: center;
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: black;
}

body {
    margin: auto;
    padding: auto;
}

main {
    margin: 0px;
    padding: 0px;
}