html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: black;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    margin: 0px;
    padding: 0px;
}

footer {
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}