.column {
  flex: 50%;
  margin: 1rem;
}

.withBackground {
  // Question: https://stackoverflow.com/questions/23208200/how-to-darken-a-background-using-css
  // Answer: https://stackoverflow.com/a/23208450
  background-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url("../../public/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  padding-top: 4.5rem;
}