.column {
  flex: 50%;
  margin: 1rem;
}

.withBackground {
  background-image: url("../../public/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding-top: 4rem;
}