.background {
  background-color: var(--background-rgb-dark);
}

@media(prefers-color-scheme: dark) {
  .background {
    background-color: var(--background-rgb-light);
  }
}

.column {

}

.portrait {

}

.content {
  padding-top: 4.5rem;
}
